# Data Engineering
    > Merubah data A ----> data B. Bagaimana caranya?
    contohnya merubah data image menjadi data tabular.

## Mendapatkan semua image path yg telah tersimpan dalam folder

In [62]:
from glob import glob

In [63]:
# glob("data/___/____.png")
fname = glob("data/*/*/*.png")
fname[:10]

['data\\data\\0\\1.png',
 'data\\data\\0\\10.png',
 'data\\data\\0\\100.png',
 'data\\data\\0\\101.png',
 'data\\data\\0\\102.png',
 'data\\data\\0\\103.png',
 'data\\data\\0\\104.png',
 'data\\data\\0\\105.png',
 'data\\data\\0\\106.png',
 'data\\data\\0\\107.png']

In [27]:
# ("a","b") + ("c","d"); #jika tipe data lebih dari 1, jadi list+list saja

## X = Path -> Image -> Flatten

In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [65]:
#untuk setiap file(f) di dalam filename(fname), dibaca menjadi array(imread) kemudian di flatten dan dibungkus menjadi list[]
#untuk jadi tabel jadikan np.array
X = np.array([plt.imread(f).flatten() for f in fname])
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

## Y = Path -> Split-> Ambil [2]

In [97]:
y = np.array([int(f.split("\\")[2]) for f in fname])
y

array([0, 0, 0, ..., 9, 9, 9])

In [98]:
y.shape

(2000,)

## Menggabungkan X dan Y
    > Join sebagai 1 dataframe lalu save csv

In [109]:
df = pd.DataFrame(X, columns=range(1,785))
df.head()

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [102]:
df['label'] = y
df.head()

,1,2,3,4,5,6,7,8,9,10,...,776,777,778,779,780,781,782,783,784,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

## Save CSV

In [103]:
df.to_csv("metadata_image.csv", index=None)